* {
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
    font-size: 50px;
    color: white;
}

div {
    width: 100%;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 15vh;
}

button {
    margin-top: 15vh;
    color:gray;
}